@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
}
html, body {
    overflow-x: hidden;
    overflow-y: hidden;
  }
body {
    font-family: 'Poppins';
    font-size: 14px;
    overflow-y: hidden;
}
.background {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    background: linear-gradient(142deg, rgba(255,255,255,1) 0%, rgba(227,27,35,1) 44%, rgba(0,0,0,1) 73%);   
}
.card {
    height: 80%;
    width: 80%;
    box-shadow: 1px 3px 10px rgba(5, 5, 5, 0.2);
    background-color: #ffffff41;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}
.header {
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.profilepic {
    margin-left: 3em;
}
.image {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.identity {
    font-weight: 700;
    font-size: 15px;
    margin-left: 1rem;
    margin-right: 3rem;
}
.name {
    color: #000000;
}
.title {
    color: #e31b23;
}
.company {
    font-weight: 700;
    color: #e31b23
}
.links {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
.addcontact{
    width: 80%;
    height: 75px;
    background-color: rgba(255, 255, 255, 0.719);
    border-radius: 8px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: #000000;
    font-size: 20px;
    text-decoration: none;
}
.addcontact:hover {
    color: #cf1b39;
    cursor: pointer;
}
.website {
    width: 80%;
    height: 75px;
    background-color: rgba(255, 255, 255, 0.719);
    border-radius: 8px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: #000000;
    font-size: 20px;
    text-decoration: none;
}
.website:hover {
    color: #cf1b39;
    cursor: pointer;
}
.linkedin {
    width: 80%;
    height: 75px;
    background-color: rgba(255, 255, 255, 0.719);
    border-radius: 8px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: #000000;
    font-size: 20px;
    text-decoration: none;
}
.linkedin:hover {
    color: #cf1b39;
    cursor: pointer;
}